//Funcionan de manera similar a una funcioón de Javascript
//ESTOS MIXINS SIRVE PARA TODOS LOS PROYECTOS
//version movil
@mixin telefono{
    @media(min-width: 480px){
        //Aquí se va a 'inyectar' el código css

        //con esto le estamos diciendo al mixin que sea capaz de tomar muchas propiedades
        @content;
    }
}

//version tablet
@mixin tablet{
    @media(min-width: 768px){
        
        @content;
    }
}

//version ordenador
@mixin desktop{
    @media(min-width: 1200px){
        
        @content;
    }
}

//para crear grid con gap entre colunas y filas
@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}