//Declaración de variables
$fuentePrincipal: 'Ephesis', cursive;
$fuenteSecundaria: 'Pompiere', cursive;
$fuenteTerciaria: 'Chau Philomene One', sans-serif;
$fuenteCuaternaria: 'Playfair Display', serif;
//Paleta de colores
$principal: #FFBD59;
$secundario: #FFDE59;
$cafePrincipal: #64310F;
$negro: #000;
$dorado: #E48900;
$blanco: #fff;
